@page
@model eshopFrontEnd.Pages.ChangePasswordModel
@{
    ViewData["Title"] = "ChangePassword";
}
<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="login.html"> Login</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Change Password</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="max-width:40%">
                <div class="card-header bg-primary text-white">
                    Change Password
                </div>
                <div class="card-body">
                    <form asp-page-handler="ChangeUserPassword" method="post">
                        <div class="form-group">
                            <label for="@nameof(UserChangePasswordModel.OldPassword)">Old Password</label>
                            @*<input type="password" class="form-control" id="OldPassword" name="@nameof(Model.userChangePasswordModel.OldPassword)" placeholder="Enter old password" required>*@
                            <input asp-for="UserChangePasswordModel.OldPassword" class="form-control" placeholder="Enter old password">
                            <span asp-validation-for="UserChangePasswordModel.OldPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="newpassword">New Password</label>
                            @*<input type="password" class="form-control" id="NewPassword" name="@nameof(Model.userChangePasswordModel.NewPassword)" placeholder="Enter new password" required>*@
                            <input asp-for="UserChangePasswordModel.NewPassword" class="form-control" placeholder="Enter old password">
                            <span asp-validation-for="UserChangePasswordModel.NewPassword" class="text-danger"></span>
                        </div>
                        <div class="mx-auto">
                            <button type="submit" class="btn btn-primary text-right">Submit</button> Or
                            <a class="" asp-area="" asp-page="/Login">Try to Login!</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>